<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ULVAC Trouble Shooting Program</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>ULVAC Trouble Shooting Program</h1>

        <!-- 트러블 등록 폼 -->
        <form method="POST" action="/submit" id="troubleForm" enctype="multipart/form-data">
            <label for="occur_date">발생일(発生日)</label>
            <input type="date" id="occur_date" name="occur_date" required>

            <label for="device_local">장치 지번(装置指番)</label>
            <input type="text" id="device_local" name="device_local" placeholder="예) ME24-4504-0" required>

            <label for="device_name">장치명(装置名)</label>
            <input type="text" id="device_name" name="device_name" placeholder="장치명을 입력하세요" required>

            <label for="reporter_name">성명(報告者)</label>
            <input type="text" id="reporter_name" name="reporter_name" required>

            <label for="trouble_content">트러블 증상(Trouble内容)</label>
            <textarea id="trouble_content" name="trouble_content" rows="2" required></textarea>

            <label for="solution">해결 방법(解決方法)</label>
            <textarea id="solution" name="solution" rows="2" required></textarea>

            <label for="category">카테고리(カテゴリー)</label>
            <input type="text" id="category" name="category">

            <label for="mobile_img">모바일용 사진첨부(携帯用)</label>
            <input type="text" id="mobile_img" name="mobile_img">

            <label for="pc_img">노트북용 사진첨부(パソコン用)</label>
            <input type="text" id="pc_img" name="pc_img">

            <label for="hashtag">해시태그(コンマで区分)</label>
            <input type="text" id="hashtag" name="hashtag">

            <input type="submit" value="등록">
        </form>

        <a href="{{ url_for('stats') }}"><button>트러블 통계 보기</button></a>
    </div>
</body>
</html>
